
 

body{
        /* position: absolute;
        width: 480px;
        height: 767px; */
        display: grid;
        /* grid-template-columns: auto auto auto; */
        background-color: rgb(167, 178, 187);
        /* padding: 10px; */
    } 
    .a{
        
        position: absolute;
        left: 0%;
        top: 0%;
        width: 480px;
        height: 75px;
        line-height: 75px;
        
        background-color: rgba(88, 121, 11, 0.479);
        
    }
    #sec1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .b{
        
        position: absolute;
        left: 0%;
        top: 75px;
        width: 480px;
        height: 150px;
        background-color: rgba(90, 6, 6, 0.479);
        line-height: 150px;
        
        
    }
    .c{
        position: absolute;
        background-color: rgba(40, 9, 126, 0.479);
        left: 0px;
        top: 225px;
        width: 480px;
        height: 125px;
    }
     .sec1{
        position: absolute;
        left: 200px;
        top: 100px;
    } 
     .d{
        position: absolute;
        left: 0px;
        top: 350px;
        width: 480px;
        height: 125px;
        
        background-color: rgba(39, 155, 11, 0.479);
        
        
    }
    #sec2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .e{
        position: absolute;
        left: 0px;
        top: 475px;
        height: 250px;
        width: 240px;
        background-color: rgba(146, 21, 79, 0.534);
        
    }
    .f{
        position: absolute;
        left: 240px;
        top: 475px;
        height: 250px;
        width: 240px;
        background-color: rgba(11, 91, 116, 0.479);
        
    }.g{
        position: absolute;
        left: 0px;
        top: 725px;
        height: 250px;
        width: 240px;
        background-color: rgba(5, 252, 66, 0.479);
        
    }.h{
        position: absolute;
        left: 240px;
        top: 725px;
        height: 250px;
        width: 240px;
        background-color: rgba(5, 57, 61, 0.479);
        
    }
    
    .i{
        position: absolute;
        left: 0px;
        top: 975px;
        height: 80px;
        width: 480px;
        background-color: rgba(143, 70, 70, 0.479);
    }
            
            @media(min-width: 768px) {
                body{
                    /* position: absolute;
                    width:  960px;
                    height: 768px; */
                    display: grid;

                } 
                .a{
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 960px;
                    height: 100px;
                    background-color: rgba(13, 230, 49, 0.479);
                    
                }
                .b{
                    position: absolute;
                    left: 0%;
                    top: 100px;
                    width: 200px;
                    height: 600px;
                    background-color: rgba(49, 175, 11, 0.479);
                    
                }
                .c{
                    position: absolute;
                    background-color: rgba(14, 66, 27, 0.479);
                    left: 200px;
                    top: 100px;
                    width: 380px;
                    height: 200px;
                    
                }
                
                .d{
                    position: absolute;
                    left: 580px;
                    top: 100px;
                    width: 380px;
                    height: 200px;
                    
                    background-color: rgba(5, 43, 11, 0.479);
                    
                    
                }
                
                .e{
                    position: absolute;
                    left: 200px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(15, 129, 66, 0.534);
                    
                }
                .f{
                    position: absolute;
                    left: 390px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(20, 92, 13, 0.479);
                    
                }.g{
                    position: absolute;
                    left: 580px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(13, 124, 22, 0.479);
                    
                }.h{
                    position: absolute;
                    left: 770px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(13, 136, 68, 0.479);
                    
                }
                
                .i{
                    position: absolute;
                    left: 200px;
                    top: 550px;
                    height: 150px;
                    width: 760px;
                    background-color: rgba(27, 160, 67, 0.479);
                    
                } 
            }
            @media (min-width: 880px){
                body{
                    /* position: absolute;
                    width:  960px;
                    height: 768px; */
                    display: grid;

                } 
                .a{
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 960px;
                    height: 100px;
                    background-color: rgba(126, 17, 17, 0.479);
                    
                }
                .b{
                    position: absolute;
                    left: 0%;
                    top: 100px;
                    width: 200px;
                    height: 600px;
                    background-color: rgba(211, 46, 46, 0.479);
                    
                }
                .c{
                    position: absolute;
                    background-color: rgba(136, 70, 70, 0.479);
                    left: 200px;
                    top: 100px;
                    width: 380px;
                    height: 200px;
                    
                }
                
                .d{
                    position: absolute;
                    left: 580px;
                    top: 100px;
                    width: 380px;
                    height: 200px;
                    
                    background-color: rgba(218, 17, 17, 0.479);
                    
                    
                }
                
                .e{
                    position: absolute;
                    left: 200px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(29, 7, 7, 0.534);
                    
                }
                .f{
                    position: absolute;
                    left: 390px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(196, 71, 71, 0.479);
                    
                }.g{
                    position: absolute;
                    left: 580px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(187, 9, 9, 0.479);
                    
                }.h{
                    position: absolute;
                    left: 770px;
                    top: 300px;
                    height: 250px;
                    width: 190px;
                    background-color: rgba(83, 3, 3, 0.479);
                    
                }
                
                .i{
                    position: absolute;
                    left: 200px;
                    top: 550px;
                    height: 150px;
                    width: 760px;
                    background-color: rgba(131, 70, 70, 0.479);
                    
                } 
            }
            
            @media(min-width: 960px) {
                div {
                    background-color: rgba(114, 114, 87, 0.541);
                }
            }

    
   
 

 
