body{
    position: absolute;
    width: 480px;
    height: 767px;
} 
.a{
    
    position: absolute;

    left: 0%;
    top: 0%;
    width: 480px;
    height: 75px;
    line-height: 75px;
    
    background-color: rgba(88, 121, 11, 0.479);
    
}
#sec1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.b{
    
    position: absolute;
    left: 0%;
    top: 75px;
    width: 480px;
    height: 150px;
    background-color: rgba(90, 6, 6, 0.479);
    line-height: 150px;
    
    
}
.c{
    position: absolute;
    background-color: rgba(40, 9, 126, 0.479);
    left: 0px;
    top: 225px;
    width: 480px;
    height: 125px;
}
 .sec1{
    position: absolute;
    left: 200px;
    top: 100px;
} 
 .d{
    position: absolute;
    left: 0px;
    top: 350px;
    width: 480px;
    height: 125px;
    
    background-color: rgba(39, 155, 11, 0.479);
    
    
}
#sec2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.e{
    position: absolute;
    left: 0px;
    top: 475px;
    height: 250px;
    width: 240px;
    background-color: rgba(146, 21, 79, 0.534);
    
}
.f{
    position: absolute;
    left: 240px;
    top: 475px;
    height: 250px;
    width: 240px;
    background-color: rgba(11, 91, 116, 0.479);
    
}.g{
    position: absolute;
    left: 0px;
    top: 725px;
    height: 250px;
    width: 240px;
    background-color: rgba(5, 252, 66, 0.479);
    
}.h{
    position: absolute;
    left: 240px;
    top: 725px;
    height: 250px;
    width: 240px;
    background-color: rgba(5, 57, 61, 0.479);
    
}

.i{
    position: absolute;
    left: 0px;
    top: 975px;
    height: 80px;
    width: 480px;
    background-color: rgba(143, 70, 70, 0.479);
}
        
        @media(min-width: 768px) {
            body{
                position: absolute;
                width:  960px;
                height: 768px;
            } 
            .a{
                position: absolute;
                left: 0%;
                top: 0%;
                width: 960px;
                height: 100px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

            }
            .b{
                position: absolute;
                left: 0%;
                top: 100px;
                width: 200px;
                height: 600px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

            }
            .c{
                position: absolute;
                background-color: rgba(128, 128, 128, 0.479);
                left: 200px;
                top: 100px;
                width: 380px;
                height: 200px;
                border: 1px solid rgb(10, 10, 10);

            }
            
            .d{
                position: absolute;
                left: 580px;
                top: 100px;
                width: 380px;
                height: 200px;
                
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

                
                
            }
            
            .e{
                position: absolute;
                left: 200px;
                top: 300px;
                height: 250px;
                width: 190px;
                background-color: rgba(128, 128, 128, 0.534);
                border: 1px solid rgb(10, 10, 10);

                
            }
            .f{
                position: absolute;
                left: 390px;
                top: 300px;
                height: 250px;
                width: 190px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

                
            }.g{
                position: absolute;
                left: 580px;
                top: 300px;
                height: 250px;
                width: 190px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

                
            }.h{
                border-style: solid;
                position: absolute;
                left: 770px;
                top: 300px;
                height: 250px;
                width: 190px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

                
            }
            
            .i{
                position: absolute;
                left: 200px;
                top: 550px;
                height: 150px;
                width: 760px;
                background-color: rgba(128, 128, 128, 0.479);
                border: 1px solid rgb(10, 10, 10);

                
            } 
        }
        
        @media(min-width: 960px) {
            div {
                background-color: rgba(63, 63, 60, 0.541);
            }
        }